@include smUp {
    div.container-fluid {
        padding: 0;
    }
}
@include smUp {
    .index {
        @include flexBox(row-reverse, center, center);
        .intro {
            @include flexBox(null, center, center);
            flex: 1;
            padding: 20px;
            min-height: 100vh;
        }
        .lander {
            @include flexBox(null, center, center);
            min-width: 500px;
            min-height: 100vh;
        }
    }
}