body {
  font-family: $mainFont;
}

p, li, a {
    @extend %fontM;
}
.introTitle {
    @extend %fontXXL;
    font-weight: 300;
}
.subTitle {
    @extend %fontL;
    font-weight: 700;
}
a {
    color: $linkColor;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
        color: lighten($linkColor, 10%);
    }
}